/* Base structure */

html, body {
    width: 100%;
    height: 100% !important;
}

body {
    font-family: "open sans",Arial,sans-serif;
    color: #000;
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}

p {
    margin: 0 0 25px;
    font-size: 15px;
    line-height: 1.5;
}

@media(min-width:768px) {
    p {
        margin: 0 0 35px;
        font-size: 16px;
        line-height: 1.6;
    }
}

a {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
}

.no-pad {
    padding: 0;
}

.headerline {
    border-bottom: 1px solid #00a8ff;
    padding-bottom: 15px;
    display: inline-block;
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

section {
    position: relative;
    z-index: 999;
    padding: 100px 0;
}

@media(max-width:768px) {
    section {
        padding: 70px 0;
    }
}

.list-inline li {
    padding-bottom: 10px;
}
.label {
    border-radius: 0;
}
.label-danger {
    background-color: #c00;
}
.btn {
    border-radius: 0;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.btn-default {
    border: 2px solid #fff;
    outline: 0;
    color: #fff;
    background-color: transparent;
}
.btn-default:hover,
.btn-default:focus {
    border: 2px solid #eee;
    outline: 0;
    color: #000;
    background-color: #eee;
}
.btn-primary {
    border: 2px solid #e2e224;
    outline: 0;
    color: #000;
    background-color: #e2e224;
}
.btn-primary:hover,
.btn-primary:focus {
    border: 2px solid #000;
    color: #fff;
    background-color: #000;
}

.split-padding0,
.split-padding,
.split-padding2,
.split-padding3,
.split-padding3b,
.split-padding4,
.split-padding5 {
    padding: 100px 60px 50px;
}

@media(max-width:768px) {
    .split-padding0,
    .split-padding,
    .split-padding2,
    .split-padding3,
    .split-padding3b,
    .split-padding4,
    .split-padding5 {
        padding: 50px 20px 50px;
    }
}

.split-padding-demo {
    padding: 50px;
}

.split-padding0,
.split-padding,
.split-padding2 {
    color: #fff;
}
.split-padding3,
.split-padding3b,
.split-padding4 {
    color: #111;
}
.split-padding0 {
    background-color: #151515;
}
.split-padding {
    background-color: #111;
}
.split-padding2 {
    background-color: #000;
}

.split-padding3 {
    background-color: rgba(250, 250, 250, 0.8);
}

.split-padding3b {
    background-color: rgba(250, 250, 250, 0.8);
    float:right;
}

.split-padding4 {
    background-color: rgba(0, 0, 0, 0.05);
}

a .fa-circle {
    color: #777;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
a:hover .fa-circle {
    color: #555;
}

/* Navigation */

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid #333;
    text-transform: uppercase;
    color: rgba(255,255,255,.8);
    background-color: #000;
}
.navbar-custom .navbar-brand {
    font-size: 26px;
    letter-spacing: -1px;
    text-transform: none;
}
.navbar-custom.top-nav-collapse .navbar-brand {
    font-size: 18px;
}
.navbar-custom .navbar-brand:focus {
    outline: 0;
}
.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}
.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}
.navbar-custom a {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-transform: lowercase;
    text-shadow: 1px 5px 5px rgba(0,0,0,0.9) ;
    background-color: transparent;
}
.navbar-custom .nav li a {
    -webkit-transition: background .4s ease-in-out;
    -moz-transition: background .4s ease-in-out;
    transition: background .4s ease-in-out;
    /*text transformations*/
     -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
.navbar-custom .nav li a:hover {
    outline: 0;
    color: rgba(255,255,255,.8);
    background-color: transparent;
    font-size: 18px;
   
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}
.navbar-custom .nav li.active {
    outline: 0;
}
.navbar-custom .nav li.active a {
    color: #00a8ff;
}
.navbar-custom .nav li.active a:hover {
    color: #fff;
}
@media(min-width:768px) {
    .navbar-custom {
        padding: 30px;
        border-bottom: 0;
        letter-spacing: 1px;
        background: rgba(0,0,0,0.2);
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }
    .navbar-custom.top-nav-collapse {
        padding: 10px 30px;
        background-color: #000;
    }
}
.top-nav-collapse .container {
    width: auto;
}
.navbar-toggle {
    padding: 3px 5px 0;
    margin-bottom: 0;
}

/* Intro */

.intro {
    display: table;
    width: 100%;
    color: #fff;
    text-shadow: 0 1px 3px rgba(0,0,0,.2);
    height: 100%;
    background: #000 url(../img/paint.jpg)  no-repeat center center fixed;
    background-position: absolute;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}


.intro .intro-body {
    display: table-cell;
    vertical-align: bottom;
    background: rgba(0, 0, 0, 0.5);
    padding: 100px 0;
}
.intro .intro-body .brand-heading  {
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 2px;
    margin: 0 0 5px;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.9) ;
}
.color {
    color: #e2e224;
}
.intro .intro-body .intro-text {
    font-size: 20px;
    font-weight: 600;
    text-transform: lowercase;
}
@media(min-width:768px) {
    .intro {
        padding: 0;
    }
    .intro .intro-body .brand-heading {
        font-size: 50px;
    }
}

@media (min-width: 992px) {
    .intro .list-inline {
        text-align: right;
    }
}

@media(max-width:768px) {

    .intro .intro-body {
        padding: 30px 0;
    }
}

/*Past*/

.new-format{
    list-style-type: none;
    padding: 10px;
}
 
.new-format li {
  height:25px;
  padding: 15px;
  text-align: center;
}
 
.new-format li:last-child {
  border: none;
}
 
.new-format li a {
  text-decoration: none;
  color: #373737;
  text-transform: uppercase;
  font-weight:100;
  font-size: 25px;
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
 
.new-format li a:hover {
  color: #000;
  font-size: 30px;
}
 
.past-issues p{
    margin: 0 0 0px;
}
/* About */

#about,
 {
    color: #333;
}
#about {
    width: 100%;
    height: 100%;
    background: url(../img/coverart.png)  no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
     -o-background-size: cover;
    background-size: cover;
}

@media(max-width:768px) {
    #about,
 {
        text-align: center;
    }
}

#about h2{
    text-transform:lowercase;
    letter-spacing:0;
}

/* Guidelines */

.guidelines {
    padding: 7%;
}

.return-links {
    text-align:center;
}

/*Current*/

#current,
 {
    color: #333;
}
#current {
    width: 100%;
    height: 100%;
    background: #000;
    padding-right: 85px;
    padding-left: 85px;
    padding-top: 120px;
    padding-bottom: 40px;
    margin-right: auto;
    margin-left: auto;  
    -webkit-background-size: cover;
    -moz-background-size: cover;
     -o-background-size: cover;
    background-size: cover;
}


@media(max-width:768px) {
    #current,
 {
        text-align: center;
    }
}

#current h2{
    text-transform:lowercase;
    letter-spacing:0;
}

/* Contact */

#contact {
    width: 100%;
    color: #fff;
    background: url(../img/4.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

@media(max-width:1200px) {
    #contact, #mission, #about, .intro {
        background-attachment: scroll;
    }
}